.text-editor-container {
    padding: 20px;
  }
  
  .sentence-controls {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .small-input {
    width: 70px;
  }
  
  .display-text {
    border: 1px solid #ccc;
    padding: 20px;
  }
  